/* @import "frappe.css"; */
@import "macchiato.css";

/**
* Custom styling for a catppuccin style waybar
* Config settings listed in order from left -> right on bar
* */

/**
* Global configuration for theme 
* */
* {
  font-family: Hack Bold;
  font-size: 18px;
  border-radius: 1.5em;
}

/* Primary monitor configuration */
#stats,
#notifications,
#workspaces {
  padding-left: 4px;
  padding-right: 4px;
  color: @peach;
  font-weight: bold;
  background-color: transparent;
}

/* Wlr/workspaces configuration  */
#window,
#workspaces {
  color: transparent;
}

#workspaces label {
  font-size: 20px;
}

#workspaces button.active {
  color: @blue;
}

#workspaces button.urgent {
  background-color: @red;
  color: @text;
}

/* window */
window#waybar {
  background: transparent;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @base;
  border: 1px solid @blue;
}

tooltip label {
  color: white;
}

label:focus {
  background-color: #000000;
}

/* Remove border from parent waybar */
box {
  border: none;
}

/* Add spacing for right side modules */
#tray {
  padding: 0 1em;
}

#custom-updates,
#custom-github,
#cpu,
#temperature,
#custom-gpu-temperature,
#memory,
#disk,
#bluetooth,
#pulseaudio,
#network {
  padding: 0 0.5em;
}

/* Unique colors for modules */
#cpu {
  color: @blue;
}

#memory {
  color: @blue;
}

#custom-gpu-temperature,
#temperature {
  color: @blue;
}

#network {
  color: @red;
}

#pulseaudio {
  color: @red;
}

#custom-github {
  color: @white;
}

#custom-updates {
  color: @red;
}

#bluetooth {
  color: @red;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#clock {
  font-size: 15px;
  font-weight: 700;
}

/* Custom styling for the logout icon on end */
#custom-wlogout {
  font-size: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: @blue;
}

#custom-separator-right,
#custom-separator-left {
  font-size: 20px;
  padding-left: 1em;
  padding-right: 1em;
  color: @green;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
